# Default ignored files
/../../Elagazasok_3.1./.idea/shelf/
/../../Elagazasok_3.1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Elagazasok_3.1./.idea/httpRequests/
# Datasource local storage ignored files
/../../Elagazasok_3.1./.idea/dataSources/
/../../Elagazasok_3.1./.idea/dataSources.local.xml
